div#container
{
   width: 700px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   margin: 0;
}
#wb_Text1
{
   position: absolute;
   left: 208px;
   top: 15px;
   width: 285px;
   height: 528px;
   text-align: center;
   z-index: 0;
}
#Html1
{
   position: absolute;
   left: 259px;
   top: 487px;
   width: 135px;
   height: 49px;
   visibility: hidden;
   z-index: 1;
}
#Button1
{
   position: absolute;
   left: 302px;
   top: 465px;
   width: 96px;
   height: 30px;
   z-index: 2;
}
@media only screen and (min-width: 488px) and (max-width: 699px)
{
div#container
{
   width: 488px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Text1
{
   left: 102px;
   top: 11px;
   width: 285px;
   height: 528px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#Html1
{
   left: 171px;
   top: 834px;
   width: 135px;
   height: 49px;
   visibility: hidden;
   display: none;
}
#Button1
{
   left: 196px;
   top: 459px;
   width: 96px;
   height: 30px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
}
@media only screen and (min-width: 400px) and (max-width: 487px)
{
div#container
{
   width: 400px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Text1
{
   left: 58px;
   top: 7px;
   width: 285px;
   height: 528px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#Html1
{
   left: 104px;
   top: 716px;
   width: 135px;
   height: 49px;
   visibility: hidden;
   display: none;
}
#Button1
{
   left: 152px;
   top: 462px;
   width: 96px;
   height: 30px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
}
@media only screen and (min-width: 360px) and (max-width: 399px)
{
div#container
{
   width: 360px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Text1
{
   left: 38px;
   top: 8px;
   width: 285px;
   height: 528px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#Html1
{
   left: 82px;
   top: 546px;
   width: 135px;
   height: 49px;
   visibility: hidden;
   display: none;
}
#Button1
{
   left: 132px;
   top: 437px;
   width: 96px;
   height: 30px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
}
@media only screen and (max-width: 359px)
{
div#container
{
   width: 320px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Text1
{
   left: 18px;
   top: 12px;
   width: 285px;
   height: 528px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#Html1
{
   left: 18px;
   top: 551px;
   width: 135px;
   height: 49px;
   visibility: visible;
   display: inline;
}
#Button1
{
   left: 112px;
   top: 463px;
   width: 96px;
   height: 30px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 16px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #3370B7;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
}
